{% extends 'base.html.twig' %}
{% block body %}
	<div>
		<form>
			<label for="name">Name:</label>
			<input type="text">
			<label for="type">Type 1:
			</label>
			<input type="text">
			<label for="type2">Type 2:
			</label>
			<input type="text2">
		</form>
	</div>
	<div></div>
{% endblock %}
