{% extends 'base.html.twig' %}
{% block body %}
	<div>
		<form>
			<label for="name">Name:</label>
			<input type="text">
			<label for="type">Type 1:
			</label>
			<input type="text">
			<label for="type2">Type 2:
			</label>
			<input type="text2">
		</form>
	</div>
	<div>
		<div class="card" style="width:18rem;">
			<img class="card-img-top" src="">
			<div class="card-body">
				<h5 class="card-title">{{ pokemon[0].name }}
					<h5></div>
				</div>
			</div>
		{% endblock %}
