body {
  background-color: lightgray;
  margin: 0px;
  height: 90vh;
}



form {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin: 0 auto;
}
#app {
  width: 58.9vw;
  /* min-height: 40vh; */
  border-left: 1px solid black;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 12rem;
  height: 13rem;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.card  img {
  max-height: 8rem;
  max-width: 9, 83rem;
  min-height: 6rem;
  max-width: 7, 365rem;
}
