body {
    background-color: lightgray;
    margin: 0px;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 0px;

}

.search{
    height: 80vh;
    width: 30vw;
    float: left;
}

form{
    display: flex;
    flex-direction: column;
    width: 10vw;
    margin: 0 auto;
}
body > div:nth-of-type(2){
    height: 500px;
    width: 65vw;
    float: right;
    border-left: 1px solid black;
}

.card{
    text-align: center;
    display: inline-block;
    width: 10rem;
    /* height: 12rem; */
    padding: 10px;
    background-image: linear-gradient(135deg,green,purple);
    margin: 10px;
}
